<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crypto-Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .login-input {
  width: 130px;
}

.form-button {
  width: 80px;
  height: 35px;
}

.signup-box {
  margin: auto;
  width: 325px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
}

.settings-box {
  margin: auto;
  width: 325px;
}

.signup-area {
  padding: 30px;
}

.settings-area {
  padding: 30px;
}
</style>
  </head>
  <body>
        <title>Flaskex</title>
        
        <section class="hero is-primary is-bold is-medium">
          <div class="hero-body">
            <div class="container has-text-centered">
              <div class="columns">
                <div class="column is-auto">
                  <br>
                  <p class="title is-2">Cryptocurrency Dashboard</p>
                  <br>
                  <p class="subtitle is-4"><i>A Simple dashboard for analysis</i></p>
                  <p class="subtitle is-5">&#x2022 Encrypted user authorizaton</p>
                  <p class="subtitle is-5">&#x2022 Easy to understand</p>
                </div>
        
                <div class="column is-auto">
                  <div id="signup-box" class="signup-box">
                    <div class="signup-area">
                      <!--<h1 class="title">Click from below to proeed</h1>-->
                      <p class="subtitle is-5"><b><u>Click from below to proeed</u></b></p>
                      <br>
                      <a href="/login"><p class="subtitle is-4"><b>Log-In</b></p>  </a>
                      <br><br>
                      <a href="/sign_up"><p class="subtitle is-4"> <b> Sign-up </b></p>  </a>
                      <br><br>
                      <a href="/change_password"><p class="subtitle is-4"><b>Forgot Password </b></p>  </a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </section>
        
        <section class="hero">
          <footer class="footer">
            <div class="container">
              <div class="content has-text-centered">
                <p>
                  To know more
                </p>
                <p>
                  <a href="https://en.wikipedia.org/wiki/Cryptocurrency" target="_blank">
                    &#x2022 Cryptocurrency
                  </a>          
                  <a href="https://www.binance.com/en" target="_blank">
                    &#x2022 Binance Market
                  </a>
                </p>
              </div>
            </div>
          </footer>
        </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </body>
</html>